@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.gen-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 69px;
  font-family: 'Inter', sans-serif;
  color: var(--gray-900, #101828);
}

.top-container {
  padding-left: 34px;
  padding-right: 34px;
}

.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.profile-img p {
  margin-top: 26px;
  font-weight: 700;
  font-size: 21.567px;
}

.links {
  display: flex;
  padding: 25.88px 34.507px;
  justify-content: center;
  align-items: center;
  gap: 8.627px;
  flex: 1 0 0;
  border-radius: 8.627px;
  border: 1.078px solid var(--gray-200, #EAECF0);
  background: var(--gray-200, #EAECF0);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 26px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.buttom-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25.88px;
  flex: 1 0 0;
  padding-top: 26px;
  padding-bottom: 26px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.078px solid var(--gray-200, #EAECF0);
  margin-top: 118px;
  padding-top: 34px;
  padding-bottom: 72px;
}

.footer p {
  color: var(--gray-500, #667085);
  font-size: 17.253px;
  font-weight: 400;
  padding-left: 100px;
}

@media (max-width: 425px) {
  .gen-container {
    width: 100%;
  }

  .top-container {
    padding-left: 17.25px;
    padding-right: 17.25px;
  }

  .profile-img {
    margin-bottom: 34px;
  }

  .footer {
    flex-direction: column;
    align-items: start;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 24px;
    padding-bottom: 34px;
  }

  .footer p {
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .top-container {
    padding-left: 5.25px;
    padding-right: 5.25px;
    text-align: center;
  }
}